.top-menu {
    .height-250 {
        height: 250px;
    }
    .height-275 {
        height: 250px;
    }
    .width-10-pct {
        width: 40%;
    }
    .width-40-pct {
        width: 40%;
    }
    .width-58-pct {
        width: 58%;
    }
    .width-65-pct {
        width: 65%;
    }
    .width-98-pct {
        width: 98%;
    }
    .width-85-pct {
        width: 98%;
    }
    .width-38-pct {
        width: 98%;
    }
}