.ChartExpenseOverview {
    .slimScrollDiv{
        position: relative; overflow: hidden; width: auto; height: 312px;
    }
    .scroller{
        height: 312px; overflow: hidden; width: auto;
    }
    .slimScrollBar {
        background: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 271.153px;
    }
    .slimScrollRail {
        width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;
    }
}